---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14JnNU4qb12mBuvUgl3Xaxxg&plan=Basic&description=Sign%20up%20charge%20from%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406212771,
          "id": "cus_4Sipa28JJzydMI",
          "livemode": false,
          "description": "Sign up charge from john@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Sipa28JJzydMI/subscriptions",
            "data": [
              {
                "id": "sub_4SiplpS6DmpNg5",
                "plan": {
                  "interval": "month",
                  "name": "Baisc Plan",
                  "created": 1406207024,
                  "amount": 999,
                  "currency": "usd",
                  "id": "Basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Just"
                },
                "object": "subscription",
                "start": 1406212771,
                "status": "active",
                "customer": "cus_4Sipa28JJzydMI",
                "cancel_at_period_end": false,
                "current_period_start": 1406212771,
                "current_period_end": 1408891171,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Sipa28JJzydMI/cards",
            "data": [
              {
                "id": "card_14JnNU4qb12mBuvUGtJqnRBj",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2017,
                "fingerprint": "onp2Ks0f4lLaXxop",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4Sipa28JJzydMI"
              }
            ]
          },
          "default_card": "card_14JnNU4qb12mBuvUGtJqnRBj"
        }
  recorded_at: Thu, 24 Jul 2014 14:39:32 GMT
recorded_with: VCR 2.9.2
