---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14JnNb4qb12mBuvUlnE67W10&plan=Basic&description=Sign%20up%20charge%20from%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 24 Jul 2014 14:39:37 GMT
recorded_with: VCR 2.9.2
