<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Hello, <%= @user.full_name %></h1>
    <p>
      We heard you need a password reset.<br>
      Click the link below and you'll be redirected to a secure site from which you can set a new password.
    </p>
    <p><%= link_to @reset_path, @reset_path %></p>
  </body>
</html>