---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14JnNG4qb12mBuvU9xzZIJ8C",
          "livemode": false,
          "created": 1406212754,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14JnNG4qb12mBuvURqwn9UGH",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2025,
            "fingerprint": "onp2Ks0f4lLaXxop",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 24 Jul 2014 14:39:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14JnNG4qb12mBuvU9xzZIJ8C&plan=Basic&description=The%20plane%20testing%20description
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406212755,
          "id": "cus_4Sioun1QAUi09P",
          "livemode": false,
          "description": "The plane testing description",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Sioun1QAUi09P/subscriptions",
            "data": [
              {
                "id": "sub_4SioFTHfUfGrMU",
                "plan": {
                  "interval": "month",
                  "name": "Baisc Plan",
                  "created": 1406207024,
                  "amount": 999,
                  "currency": "usd",
                  "id": "Basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Just"
                },
                "object": "subscription",
                "start": 1406212755,
                "status": "active",
                "customer": "cus_4Sioun1QAUi09P",
                "cancel_at_period_end": false,
                "current_period_start": 1406212755,
                "current_period_end": 1408891155,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Sioun1QAUi09P/cards",
            "data": [
              {
                "id": "card_14JnNG4qb12mBuvURqwn9UGH",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2025,
                "fingerprint": "onp2Ks0f4lLaXxop",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4Sioun1QAUi09P"
              }
            ]
          },
          "default_card": "card_14JnNG4qb12mBuvURqwn9UGH"
        }
  recorded_at: Thu, 24 Jul 2014 14:39:16 GMT
recorded_with: VCR 2.9.2
