---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14K2QH4qb12mBuvU0AFZC4fy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14K2QH4qb12mBuvU0AFZC4fy",
          "created": 1406270601,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14K2QG4qb12mBuvUz4bgx7nE",
              "object": "charge",
              "created": 1406270600,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14K2QE4qb12mBuvUa4JFG2wd",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "onp2Ks0f4lLaXxop",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4SyN7CrxZnUF8a"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14K2QG4qb12mBuvUz4bgx7nE/refunds",
                "data": []
              },
              "balance_transaction": "txn_14K2QG4qb12mBuvU6n4qyGWq",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4SyN7CrxZnUF8a",
              "invoice": "in_14K2QG4qb12mBuvUDXgWub6V",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "Just",
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4SyNnPbgQWqlKT"
        }
  recorded_at: Fri, 25 Jul 2014 07:49:40 GMT
recorded_with: VCR 2.9.2
