---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14HrpR4qb12mBuvUcvygexaz",
          "livemode": false,
          "created": 1405753221,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14HrpR4qb12mBuvUlVLugTtR",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2025,
            "fingerprint": "onp2Ks0f4lLaXxop",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sat, 19 Jul 2014 07:00:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_14HrpR4qb12mBuvUcvygexaz
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14HrpS4qb12mBuvUewY0Y0cg",
          "object": "charge",
          "created": 1405753222,
          "livemode": false,
          "paid": true,
          "amount": 300,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14HrpR4qb12mBuvUlVLugTtR",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2025,
            "fingerprint": "onp2Ks0f4lLaXxop",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14HrpS4qb12mBuvUewY0Y0cg/refunds",
            "data": []
          },
          "balance_transaction": "txn_14HrpS4qb12mBuvU9p5wIRtz",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Sat, 19 Jul 2014 07:00:22 GMT
recorded_with: VCR 2.9.2
