---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14HrpV4qb12mBuvUYEMB0SGn",
          "livemode": false,
          "created": 1405753225,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14HrpV4qb12mBuvUuZ60GJA7",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2025,
            "fingerprint": "m9fGd1CHutadFOyh",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sat, 19 Jul 2014 07:00:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_14HrpV4qb12mBuvUYEMB0SGn
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14HrpW4qb12mBuvUrlFMPjK2"
          }
        }
  recorded_at: Sat, 19 Jul 2014 07:00:26 GMT
recorded_with: VCR 2.9.2
