---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14K4nv4qb12mBuvUREHslTzn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4PhDDSEm3uCRb3Km7hEQV6NR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14K4nv4qb12mBuvUREHslTzn",
          "created": 1406279755,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14K4nv4qb12mBuvU8vZ1FsNE",
              "object": "charge",
              "created": 1406279755,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14K4nI4qb12mBuvUs9Fsltht",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "DmVBVgiuUjbmViI0",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4Szsa5LJs1PDyl"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14K4nv4qb12mBuvU8vZ1FsNE/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4Szsa5LJs1PDyl",
              "invoice": null,
              "description": "failed charge",
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4T0pMkUDNMEJXD"
        }
  recorded_at: Fri, 25 Jul 2014 09:26:31 GMT
recorded_with: VCR 2.9.2
